<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyesfree.weibo.mapper.FollowMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eyesfree.weibo.entity.Follow">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_id_follow" property="userIdFollow" />
        <result column="follow_time" property="followTime" />
        <result column="remark_name" property="remarkName" />
        <result column="status" property="status" />
    </resultMap>
    <select id="getFollowList" parameterType="map" resultType="com.eyesfree.weibo.beans.FollowResBean">
        SELECT
          u.id AS userId,
          u.`user_name` AS userName,
          u.`true_name` AS trueName,
          u.`introduction`,
          u.`fans_count` AS fansCount,
          u.`follow_count` AS followCount,
          u.`portrait_url` AS portraitUrl,
          u.sex
        FROM
          follow f
          JOIN USER u
            ON f.`user_id_follow` = u.id
        WHERE f.`user_id` = #{userId} and f.status = 0
    </select>

    <select id="getFansList" parameterType="map" resultType="com.eyesfree.weibo.beans.FansResBean">
        SELECT
          u.id AS userId,
          u.`user_name` AS userName,
          u.`true_name` AS trueName,
          u.`introduction`,
          u.`fans_count` AS fansCount,
          u.`follow_count` AS followCount,
          u.`portrait_url` AS portraitUrl,
          u.sex
        FROM
          follow f
          JOIN USER u
            ON f.`user_id` = u.id
        WHERE f.`user_id_follow` = #{userId} and f.status = 0
    </select>
</mapper>
