<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyesfree.weibo.mapper.WeiboMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.eyesfree.weibo.entity.Weibo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="publish_time" property="publishTime" />
        <result column="comment_count" property="commentCount" />
        <result column="like_count" property="likeCount" />
        <result column="share_count" property="shareCount" />
        <result column="read_count" property="readCount" />
    </resultMap>

</mapper>
